body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: fixed;
  width: 300px;
  align-content: center;
  margin: 1% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}

.visible,
.hidden {
  overflow: hidden;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 1s;
}